.container{
    display:grid;
    grid-template-columns: repeat(var(--cols), 1fr);
    grid-template-rows: repeat(var(--cols), 1fr);
    flex-wrap: wrap;
    border: 5px solid black;
    width: 550px;
    height: 550px;  
           
}

.content {
    border: 2px solid red;   
    background-color: black;   
    

}

.content.switch {
    background-color: red;
}





